{% extends 'base.html' %}
{% block title %}Сотрудники{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Сотрудники компании</h1>
    <a href="{% url 'employee_create' %}"
       class="btn btn-primary"
       hx-get="{% url 'employee_create' %}"
       hx-target="#modal-body"
       data-bs-toggle="modal" data-bs-target="#modal">Добавить сотрудника
    </a>
  </div>

  <form class="row g-3 mb-4" method="get">
    <div class="col-md-6">
      <input type="text" name="search" class="form-control" placeholder="Поиск..." value="{{ search_query }}">
    </div>
    <div class="col-md-4">
      <select name="sort" class="form-select">
        <option disabled {% if not sort_option %}selected{% endif %}>Сортировать...</option>
        <option value="name_asc" {% if sort_option == 'name_asc' %}selected{% endif %}>ФИО (А–Я)</option>
        <option value="name_desc" {% if sort_option == 'name_desc' %}selected{% endif %}>ФИО (Я–А)</option>
        <option value="start_date_new" {% if sort_option == 'start_date_new' %}selected{% endif %}>Новые</option>
        <option value="start_date_old" {% if sort_option == 'start_date_old' %}selected{% endif %}>Старые</option>
      </select>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-outline-secondary w-100">Применить</button>
    </div>
  </form>

  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>N</th>
        <th>ФИО</th>
        <th>Отдел</th>
        <th>Должность</th>
        <th>Дата трудоустройства</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for e in employees %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.department }}</td>
        <td>{{ e.position }}</td>
        <td>{{ e.start_date|date:"d.m.Y" }}</td>
        <td>
          <a hx-get="{% url 'employee_update' e.pk %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-sm btn-outline-secondary me-1">Редактировать</a>
          <a hx-get="{% url 'employee_delete' e.pk %}" hx-target="#modal-body" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-sm btn-outline-danger">Удалить</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="5">Сотрудников нет</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div id="modal-body" class="p-3">

      </div>
    </div>
  </div>
</div>
{% endblock %}